@page
@model KUSYS_Demo.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].CourseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].CourseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CourseId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CourseId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
